<div class="MuiToolbar-root MuiToolbar-regular MuiToolbar-gutters">
  <div class="MuiGrid-root MuiGrid-container MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
    <div class="MuiGrid-root MuiGrid-container MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-grid-xs-2">
      <div class="MuiGrid-root MuiGrid-item">
        <a>
          <span class="MuiButton-label">
            <h1>Sandbox</h1>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="MuiContainer-root MuiContainer-maxWidthLg">
  <main class="jss11">
    <!-- <h2 class="MuiTypography-root MuiTypography-h4 MuiTypography-gutterBottom">Sandbox</h2>
    <p class="MuiTypography-root MuiTypography-body1 MuiTypography-gutterBottom">Experiment with homomorphic encryption
      powered by <a target="_blank" rel="noopener" href="https://github.com/microsoft/SEAL">Microsoft SEAL</a>. All
      cryptographic operations occur in the browser thanks to <a target="_blank" rel="noopener"
        href="https://github.com/morfix-io/node-seal">node-seal</a>. To see what client to server interactions look
      like, sign up to be a beta tester. </p> -->
    <!-- <hr class="MuiDivider-root jss15"> -->
    <div class="jss19">
      <h2 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Encryption Parameters</h2>
      <p class="MuiTypography-root MuiTypography-body1 MuiTypography-gutterBottom">These parameters can have drastic
        performance effects if not properly optimized. Most of these settings are arbitrarily defined and are safe to
        use; however, you are encouraged to optimize them.</p>
      <div class="MuiGrid-root jss20 MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-align-items-xs-center">
        <div class="MuiGrid-root MuiGrid-item">
          <div class="MuiFormControl-root MuiTextField-root">
            <label
              class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiFormLabel-filled"
              data-shrink="true" for="SELECT-scheme-type" id="SELECT-scheme-type-label">Scheme Type</label>
            <div
              class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-formControl MuiInput-formControl">
              <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input"
                tabindex="0" role="button" aria-haspopup="listbox"
                aria-labelledby="SELECT-scheme-type-label SELECT-scheme-type" id="SELECT-scheme-type">bfv</div>
              <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput"
                aria-describedby="SELECT-scheme-type-helper-text" value="bfv">
              <svg class="MuiSvgIcon-root MuiSelect-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 10l5 5 5-5z">
                </path>
              </svg>
            </div>
            <p class="MuiFormHelperText-root MuiFormHelperText-filled" id="SELECT-scheme-type-helper-text">Select a
              Scheme Type</p>
          </div>
        </div>
        <div class="MuiGrid-root MuiGrid-item">
          <div class="MuiFormControl-root MuiTextField-root">
            <label
              class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiFormLabel-filled"
              data-shrink="true" for="SELECT-security-level" id="SELECT-security-level-label">Security Level</label>
            <div
              class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-formControl MuiInput-formControl">
              <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input"
                tabindex="0" role="button" aria-haspopup="listbox"
                aria-labelledby="SELECT-security-level-label SELECT-security-level" id="SELECT-security-level">128 Bits
              </div><input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput"
                aria-describedby="SELECT-security-level-helper-text" value="128 Bits">
              <svg class="MuiSvgIcon-root MuiSelect-icon" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 10l5 5 5-5z">
                </path>
              </svg>
            </div>
            <p class="MuiFormHelperText-root MuiFormHelperText-filled" id="SELECT-security-level-helper-text">Higher
              values allow for better security at the cost of more CPU and Memory resources</p>
          </div>
        </div>
        <div class="MuiGrid-root MuiGrid-item">
          <div class="MuiFormControl-root MuiTextField-root">
            <label
              class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiFormLabel-filled"
              data-shrink="true" for="SELECT-polymodulus-degree" id="SELECT-polymodulus-degree-label">Polymodulus
              Degree</label>
            <div
              class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-formControl MuiInput-formControl">
              <div class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input"
                tabindex="0" role="button" aria-haspopup="listbox"
                aria-labelledby="SELECT-polymodulus-degree-label SELECT-polymodulus-degree"
                id="SELECT-polymodulus-degree">4096 Bits</div><input aria-hidden="true" tabindex="-1"
                class="MuiSelect-nativeInput" aria-describedby="SELECT-polymodulus-degree-helper-text"
                value="4096 Bits"><svg class="MuiSvgIcon-root MuiSelect-icon" focusable="false" viewBox="0 0 24 24"
                aria-hidden="true">
                <path d="M7 10l5 5 5-5z"></path>
              </svg>
            </div>
            <p class="MuiFormHelperText-root MuiFormHelperText-filled" id="SELECT-polymodulus-degree-helper-text">Higher
              values allow for more computations at the cost of more CPU and memory resources</p>
          </div>
        </div>
        <div class="MuiGrid-root MuiGrid-item">
          <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth"><label
              class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiFormLabel-filled"
              data-shrink="true" for="INPUT-coefficient-modulus" id="INPUT-coefficient-modulus-label">Coefficient
              Modulus (Bit Sizes)</label>
            <div
              class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
              <input aria-invalid="false" aria-describedby="INPUT-coefficient-modulus-helper-text"
                id="INPUT-coefficient-modulus" name="bitSizes" type="text" class="MuiInputBase-input MuiInput-input"
                value="36,36,37">
            </div>
            <p class="MuiFormHelperText-root MuiFormHelperText-filled" id="INPUT-coefficient-modulus-helper-text">The
              bit-lengths of the primes to be generated for the Coefficient Modulus (comma separated). Max 60 bits.</p>
          </div>
        </div>
        <div class="MuiGrid-root MuiGrid-item">
          <div class="MuiFormControl-root MuiTextField-root MuiFormControl-fullWidth"><label
              class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink MuiFormLabel-filled"
              data-shrink="true" for="INPUT-plain-modulus" id="INPUT-plain-modulus-label">Plain Modulus (Bit
              Size)</label>
            <div
              class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
              <input aria-invalid="false" aria-describedby="INPUT-plain-modulus-helper-text" id="INPUT-plain-modulus"
                name="bitSize" type="text" class="MuiInputBase-input MuiInput-input" value="20">
            </div>
            <p class="MuiFormHelperText-root MuiFormHelperText-filled" id="INPUT-plain-modulus-helper-text">The
              bit-length of the prime to be generated for the Plain Modulus that will enable Batching. Max 60 bits.</p>
          </div>
        </div>
        <!-- <div class="MuiGrid-root MuiGrid-item"><label class="MuiFormControlLabel-root"><span
              class="MuiButtonBase-root MuiIconButton-root jss24 MuiCheckbox-root MuiCheckbox-colorPrimary jss25 Mui-checked MuiIconButton-colorPrimary"
              aria-disabled="false"><span class="MuiIconButton-label"><input class="jss27"
                  id="CHECKBOX-expand-modulus-chain" type="checkbox" data-indeterminate="false" value="false"
                  checked=""><svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path
                    d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z">
                  </path>
                </svg></span><span class="MuiTouchRipple-root"></span></span><span
              class="MuiTypography-root MuiFormControlLabel-label MuiTypography-body1">Expand Modulus
              Chain</span></label>
          <p class="MuiFormHelperText-root">Determines whether the modulus switching chain should be created</p>
        </div> -->
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-align-items-xs-center">
          <div class="MuiGrid-root MuiGrid-item">
            <!-- class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary" tabindex="0" (before asd)-->
            <button class="asd" tabindex="0" type="button" id="BUTTON-create-encryption-parameters">
              <span class="MuiButton-label">
                <span class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                  id="BUTTON-create-encryption-parameters">Create Enc Parms</span>
              </span>
              <span class="MuiTouchRipple-root"></span>
            </button>
          </div>
        </div>
      </div>
      <hr class="MuiDivider-root jss21">
    </div>
    <div class="jss28">
      <h2 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Keys</h2>
      <p class="MuiTypography-root MuiTypography-body1 MuiTypography-gutterBottom">Keys are specific to the Context in
        which they are generated. If you change the Encryption Parameters, you will need to create new keys to work
        under the new Context. Start by creating a public/secret key pair. Don't forget to download your keys.</p>
      <div
        class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
        <div
          class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
          <form class="MuiPaper-root jss30 MuiPaper-elevation1 MuiPaper-rounded">
            <h3 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Secret Key</h3>
            <p class="MuiTypography-root MuiTypography-body2 MuiTypography-colorTextSecondary">A SecretKey allows you to
              decrypt CipherTexts to PlainTexts.</p>
            <div
              class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item">
                  <div
                    class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal MuiFormControl-fullWidth">
                    <label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated MuiInputLabel-shrink Mui-disabled Mui-disabled MuiFormLabel-filled"
                      data-shrink="true" for="INPUT-key-pair-name" id="INPUT-key-pair-name-label">Key Pair name</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
                      <input aria-invalid="false" aria-describedby="INPUT-key-pair-name-helper-text" disabled=""
                        id="INPUT-key-pair-name" name="keyPairName" type="text"
                        class="MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled" value="Keypair A">
                    </div>
                    <p class="MuiFormHelperText-root Mui-disabled MuiFormHelperText-filled"
                      id="INPUT-key-pair-name-helper-text">Create a new Secret and Public key pair</p>
                  </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-create-key-pair"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-create-key-pair-text">Create</span></span></button></div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item">
                  <div class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal"><label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled"
                      data-shrink="false">Active SecretKey</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-formControl MuiInput-formControl">
                      <div
                        class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled Mui-disabled"
                        role="button" aria-disabled="true" aria-haspopup="listbox"><span>&ZeroWidthSpace;</span></div>
                      <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput" value=""><svg
                        class="MuiSvgIcon-root MuiSelect-icon Mui-disabled" focusable="false" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path d="M7 10l5 5 5-5z"></path>
                      </svg>
                    </div>
                    <p class="MuiFormHelperText-root Mui-disabled">Set the active SecretKey to be used for Decryption
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-flex-end">
                <div class="MuiGrid-root MuiGrid-item">
                  <div class="jss35">
                    <div><input id="file-upload-secretkey" class="jss37" type="file" disabled=""><label
                        for="file-upload-secretkey"><span
                          class="MuiButtonBase-root MuiButton-root MuiButton-text Mui-disabled Mui-disabled"
                          tabindex="-1" role="button" aria-disabled="true"><span class="MuiButton-label"><span
                              class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                              id="UPLOAD secretkey">Upload</span></span></span></label></div>
                  </div>
                </div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-delete-secret-key"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-delete-secret-key-text">Delete</span></span></button></div>
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-download-secret-key"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-download-secret-key-text">Download</span></span></button></div>
              </div>
            </div>
          </form>
          <form class="MuiPaper-root jss30 MuiPaper-elevation1 MuiPaper-rounded">
            <h3 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Public Key</h3>
            <p class="MuiTypography-root MuiTypography-body2 MuiTypography-colorTextSecondary">A PublicKey allows you to
              encrypt PlainTexts to CipherTexts.</p>
            <div
              class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item">
                  <div
                    class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal MuiFormControl-fullWidth">
                    <label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled"
                      data-shrink="false" for="INPUT-public-key-name" id="INPUT-public-key-name-label">PublicKey
                      name</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
                      <input aria-invalid="false" aria-describedby="INPUT-public-key-name-helper-text" disabled=""
                        id="INPUT-public-key-name" name="publicKeyName" type="text"
                        class="MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled" value="">
                    </div>
                    <p class="MuiFormHelperText-root Mui-disabled" id="INPUT-public-key-name-helper-text">Create a new
                      PublicKey from the active SecretKey</p>
                  </div>
                </div>
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-create-public-key"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-create-public-key-text">Create</span></span></button></div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
                <div class="MuiGrid-root MuiGrid-item">
                  <div class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal"><label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled"
                      data-shrink="false">Active PublicKey</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-formControl MuiInput-formControl">
                      <div
                        class="MuiSelect-root MuiSelect-select MuiSelect-selectMenu MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled Mui-disabled"
                        role="button" aria-disabled="true" aria-haspopup="listbox"><span>&ZeroWidthSpace;</span></div>
                      <input aria-hidden="true" tabindex="-1" class="MuiSelect-nativeInput" value=""><svg
                        class="MuiSvgIcon-root MuiSelect-icon Mui-disabled" focusable="false" viewBox="0 0 24 24"
                        aria-hidden="true">
                        <path d="M7 10l5 5 5-5z"></path>
                      </svg>
                    </div>
                    <p class="MuiFormHelperText-root Mui-disabled">Set the active PublicKey to be used for Encryption
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-flex-end">
                <div class="MuiGrid-root MuiGrid-item">
                  <div class="jss35">
                    <div><input id="file-upload-publickey" class="jss37" type="file" disabled=""><label
                        for="file-upload-publickey"><span
                          class="MuiButtonBase-root MuiButton-root MuiButton-text Mui-disabled Mui-disabled"
                          tabindex="-1" role="button" aria-disabled="true"><span class="MuiButton-label"><span
                              class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                              id="UPLOAD publickey">Upload</span></span></span></label></div>
                  </div>
                </div>
              </div>
              <div
                class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-delete-public-key"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-delete-public-key-text">Delete</span></span></button></div>
                <div class="MuiGrid-root MuiGrid-item"><button
                    class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled="" id="BUTTON-download-public-key"><span
                      class="MuiButton-label"><span
                        class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                        id="BUTTON-download-public-key-text">Download</span></span></button></div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <hr class="MuiDivider-root jss29">
      <h2 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Encryption & Decryption</h2>
      <p class="MuiTypography-root MuiTypography-body1 MuiTypography-gutterBottom">Encryption is the process by which a
        readable message is converted to an unreadable form to prevent unauthorized parties from reading it.
        Decryption is the process of transforming data that has been rendered unreadable through encryption back to its
        unencrypted form.</p>
    </div>


    <div
      class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
      <form class="MuiPaper-root jss30 MuiPaper-elevation1 MuiPaper-rounded">
        <h3 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Encryption</h3>
        <p class="MuiTypography-root MuiTypography-body2 MuiTypography-colorTextSecondary">Upload your flie for
          Encryption.</p>
        <div
          class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
            <div class="MuiGrid-root MuiGrid-item">
              <!-- <div
                    class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal MuiFormControl-fullWidth">
                    <label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled"
                      data-shrink="false" for="INPUT-relin-key-name" id="INPUT-relin-key-name-label">Encrypt file
                      name</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
                      <input aria-invalid="false" aria-describedby="INPUT-relin-key-name-helper-text" disabled=""
                        id="INPUT-relin-key-name" name="relinKeyName" type="text"
                        class="MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled" value="">
                    </div>
                  </div> -->
            </div>
          </div>

          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-flex-end">
            <div class="MuiGrid-root MuiGrid-item">
              <div class="jss35">
                <div><input id="file-upload-relinkey" class="jss37" type="file" disabled=""><label
                    for="file-upload-relinkey"><span
                      class="MuiButtonBase-root MuiButton-root MuiButton-text Mui-disabled Mui-disabled" tabindex="-1"
                      role="button" aria-disabled="true"><span class="MuiButton-label"><span
                          class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                          id="UPLOAD relinkey">Upload</span></span></span></label></div>
              </div>
            </div>
          </div>
          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
            <div class="MuiGrid-root MuiGrid-item"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 Mui-disabled Mui-disabled" tabindex="-1"
                type="button" disabled="" id="BUTTON-delete-relin-key"><span class="MuiButton-label"><span
                    class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                    id="BUTTON-delete-relin-key-text">Delete</span></span></button></div>
            <div class="MuiGrid-root MuiGrid-item"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                tabindex="-1" type="button" disabled="" id="BUTTON-download-relin-key"><span
                  class="MuiButton-label"><span
                    class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                    id="BUTTON-download-relin-key-text">Download</span></span></button></div>
          </div>
        </div>
      </form>
      <form class="MuiPaper-root jss30 MuiPaper-elevation1 MuiPaper-rounded">
        <h3 class="MuiTypography-root MuiTypography-h5 MuiTypography-gutterBottom">Decrytption</h3>
        <p class="MuiTypography-root MuiTypography-body2 MuiTypography-colorTextSecondary">Upload your encryption file
          for Decryption.</p>
          <div
          class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-direction-xs-column MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-center">
            <div class="MuiGrid-root MuiGrid-item">
              <!-- <div
                    class="MuiFormControl-root MuiTextField-root MuiFormControl-marginNormal MuiFormControl-fullWidth">
                    <label
                      class="MuiFormLabel-root MuiInputLabel-root MuiInputLabel-formControl MuiInputLabel-animated Mui-disabled Mui-disabled"
                      data-shrink="false" for="INPUT-relin-key-name" id="INPUT-relin-key-name-label">Encrypt file
                      name</label>
                    <div
                      class="MuiInputBase-root MuiInput-root MuiInput-underline Mui-disabled Mui-disabled MuiInputBase-fullWidth MuiInput-fullWidth MuiInputBase-formControl MuiInput-formControl">
                      <input aria-invalid="false" aria-describedby="INPUT-relin-key-name-helper-text" disabled=""
                        id="INPUT-relin-key-name" name="relinKeyName" type="text"
                        class="MuiInputBase-input MuiInput-input Mui-disabled Mui-disabled" value="">
                    </div>
                  </div> -->
            </div>
          </div>

          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-flex-end">
            <div class="MuiGrid-root MuiGrid-item">
              <div class="jss35">
                <div><input id="file-upload-relinkey" class="jss37" type="file" disabled=""><label
                    for="file-upload-relinkey"><span
                      class="MuiButtonBase-root MuiButton-root MuiButton-text Mui-disabled Mui-disabled" tabindex="-1"
                      role="button" aria-disabled="true"><span class="MuiButton-label"><span
                          class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                          id="UPLOAD relinkey">Upload</span></span></span></label></div>
              </div>
            </div>
          </div>
          <div
            class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 MuiGrid-item MuiGrid-align-items-xs-center MuiGrid-justify-content-xs-space-between">
            <div class="MuiGrid-root MuiGrid-item"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-text jss34 Mui-disabled Mui-disabled" tabindex="-1"
                type="button" disabled="" id="BUTTON-delete-relin-key"><span class="MuiButton-label"><span
                    class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                    id="BUTTON-delete-relin-key-text">Delete</span></span></button></div>
            <div class="MuiGrid-root MuiGrid-item"><button
                class="MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary Mui-disabled Mui-disabled"
                tabindex="-1" type="button" disabled="" id="BUTTON-download-relin-key"><span
                  class="MuiButton-label"><span
                    class="MuiTypography-root MuiTypography-button MuiTypography-displayBlock"
                    id="BUTTON-download-relin-key-text">Download</span></span></button></div>
          </div>
        </div>
      </form>
    </div>


  </main>

</div>