<div class="top-bar">
    <span>Encryption file</span>
</div>


<form action="/encryption" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="input-feild">
        <div class="row">
          <label for="fileInput">
            <div class="col-12">
                  <img src="assets\6802071.png" alt="File Icon" width="200" height="200">
                <p class="discrip">Select file to Encryption</p>
            </div>
            <div class="col-12" [hidden]="true">
              <input type="file" id="fileInput" name="fileInput">
          </div>
        </label>
        </div>
      </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="submit">
                  Encryption
              <!-- <img src="submit_icon.png" alt="Submit Icon" width="20" height="20"> อัปโหลด -->
            </button>
            </div>
        </div>
    </div>
</form>
