<div class="top-bar">
    <span>Encryption file</span>
</div>


<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row-12">
            <div class="col-12">
                <label for="fileInput">
                  <img src="assets\6802071.png" alt="File Icon" width="200" height="200">
                </label>
                <p>Select file to Encryption</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="file" id="fileInput" name="fileInput">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit">
              <img src="submit_icon.png" alt="Submit Icon" width="20" height="20"> อัปโหลด
            </button>
            </div>
        </div>
    </div>
</form>
