
<header>
    <nav class="navbar">
        <!-- Logo -->
        <a routerLink="/mainpage" class="logo">FHE ENCRYPTION</a>
        <!-- Menu -->
        <ul class="menu">
            <li><a routerLink="/mainpage">PARAMETER</a></li>
            <li><a routerLink="/encrypt">ENCRYPTION</a></li>
            <li><a routerLink="/decrypt">DECRYPTION</a></li>
        </ul>
    </nav>
</header>

<!-- Title Page -->
<div class="toolbar py-3 pb-lg-15">
    <div class="container-xxl d-flex flex-stack flex-wrap">
        <div class="page-title d-flex flex-column me-3">
            <!--begin::Title-->
            <h3 class="d-flex text-black fw-bold my-1 fs-3">
                 Decrytption
            </h3>
        </div>
    </div>

    <div class="container-xxl d-flex flex-stack flex-wrap">
        <div class="page-title d-flex flex-column me-3 my-4">
            <p>Decryption is the process of transforming data that has been rendered unreadable through encryption back
                to its
                unencrypted form.</p>
        </div>
    </div>
</div>

<div class="container  " style="margin-left: 425;margin-left: 425px;">
    <div class="inner">
        <div class="row">
            <div class="col-lg-6">
                <!-- Encryption Form -->
                <div class="card">
                    <div class="card-body d-flex flex-column ">
                        <h2 class="card-title fw-bold">Decryption</h2>
                        <p class="card-text">Upload your encryption file for Decryption.</p>
                        <br>
                        <br>
                        <div class="form-group">
                            <input type="file" class="form-control" (change)="onFileChangeinputpublickey($event)">
                            <label for="file-upload-secretkey">Upload your Secret Key</label>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="file" class="form-control" (change)="onFileChangeinputfile($event)">
                            <label for="file-upload-secretkey">Upload your File <i class="fa-file"></i></label>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary w-100 mb-3" (click)="Decryptionfile()">Dencrypt</button>
                            <div class="spinner-container" *ngIf="isLoading">
                                <br>
                                <mat-spinner></mat-spinner>
                                <br>
                            </div> 
                            <div *ngIf="this.fileDecrypteds && !this.isLoading">
                                <button class="btn btn-danger w-100" 
                                    (click)="downloadBase64(this.fileDecrypteds,'d'+this.fileName)"
                                    [disabled]="isButtonDisabled">Download {{this.fileName}} </button>
                            </div>
                        </div>
                        
                        <div *ngIf="this.fileDecrypted" class="status">
                            <p>{{this.fileName}} Key Are Decrypted</p>                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






