/* navbar.component.css */
.navbar {
    background-color: #0043CE;
    overflow: hidden;
  }
  
  .navbar .logo {
    float: left;
    padding: 16px 126px;
    color: white;
    font-size: 25px;
    text-decoration: none;
    
  }
  
  
  
  .menu {
    float: right;
    list-style-type: none;
  }
  
  .menu li {
    display: inline-block;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .menu li a:hover {
  
    color: blue($color: #000000);
  }
  
  
  // button 
  .text-center {
    text-align: center;
    /* Center-align the content */
    margin-top: 10px;
    /* Add margin as needed */
  }
  
  
  // card 
  .card-body {
    padding: 2rem 2.25rem;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }