<header>
    <nav class="navbar">
        <!-- Logo -->
        <a routerLink="/mainpage" class="logo">FHE ENCRYPTION</a>
        <!-- Menu -->
        <ul class="menu">
            <li><a routerLink="/mainpage">PARAMETER</a></li>
            <!-- <li><a routerLink="/keys">KEYS</a></li> -->
            <li><a routerLink="/encrypt">ENCRYPTION</a></li>
            <li><a routerLink="/decrypt">DECRYPTION</a></li>
        </ul>
    </nav>
</header>

<!-- Title Page -->
<div class="toolbar py-3 pb-lg-15">
    <div class="container-xxl d-flex flex-stack flex-wrap">
        <div class="page-title d-flex flex-column me-3">
            <!--begin::Title-->
            <h3 class="d-flex text-black fw-bold my-1 fs-3">
                Keys
            </h3>
        </div>
    </div>

    <div class="container-xxl d-flex flex-stack flex-wrap">
        <div class="page-title d-flex flex-column me-3 my-2">
            <p>Keys are specific to the Context in which they are generated. </p>
            <p>If you change the Encryption Parameters, you will need to create new keys to work under the new Context.
            </p>
            <p>Start by creating a public/secret key pair. Don't forget to download your keys.</p>
        </div>
    </div>
</div>

<div class="container ">
    <div class="inner">
        <div class="row">
            <div class="col-lg-9">
                <!-- Encryption Form -->
                <div class="card">
                    <div class="card-body d-flex flex-column ">
                        <h2 class="card-title fw-bold">KEYS</h2>
                        <p class="card-text">The secret code used to encrypt and decrypt data in a security system.</p>

                        <mat-label class="fs-7 text-muted  mt-1">Key Pair Name</mat-label>
                        <form class="example-form ">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Key Pair Name" value="" id="INPUT-secretkey-pair-name">
                                <mat-hint class="fs-7 text-muted ">Create a new Secret and Public key.</mat-hint>
                            </mat-form-field>
                        </form>
                        <div class="text-center">
                            <button class="btn btn-primary w-100 mb-3" (click)="createTwoKey()">Create</button>
                        </div>
                        <div *ngIf="this.secretkey" class="status">
                            <div>
                                <button class="btn btn-danger w-100 mb-3"
                                    (click)="downloadTxtFile(this.secretkey,this.publickey,this.keyName)"
                                    [disabled]="isButtonDisabled">Download {{this.keyName}} Key</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>